<!-- Loop over each object in the projects array -->
<div class="container">
  <div class="columns">
    <div class="column is-3">
      <aside class="menu is-hidden-mobile">
        <p class="menu-label">Allergies or Preferences</p>
        <ul class="menu-list" id="dietaryCriteria">
          <li><a id="viewAllButton" class="is-active">View All</a></li>
          <li><a><label for="dairyFreeCheckBox">Dairy Free</label> <span><input value="dairyFree" type="checkbox" id="dairyFreeCheckBox" name="isDairyFree"></span></a></li>
          <li><a><label for="glutenFreeCheckBox">Gluten Free</label> <span><input type="checkbox" id="glutenFreeCheckBox" name="isGlutenFree"></span></a></li>
          <li><a><label for="nutFreeCheckBox">Nut Free</label> <span><input type="checkbox" id="nutFreeCheckBox" name="isNutFree"></span></a></li>
          <li><a><label for="pescatarianCheckBox">Pescatarian</label> <span><input type="checkbox" id="pescatarianCheckBox" name="isPescatarian"></span></a></li>
          <li><a><label for="veganCheckBox">Vegan</label> <span><input type="checkbox" id="veganCheckBox" name="isVegan"></span></a></li>
          <li><a><label for="vegetarianCheckBox">Vegetarian</label> <span><input type="checkbox" id="vegetarianCheckBox" name="isVegetarian"></span></a></li>
        </ul>
        <input class="button" id="preferencesBtn" type="submit" value="Find meals">
      </aside>
    </div>
    <div class="column is-10">
      <section class="hero is-info welcome is-small">
        <div class="hero-body">
          <div class="container">
            {{!-- <h1 class="title">Hello, (UserNameHere).</h1>
            <h2 class="subtitle">I hope you are having a great day!</h2> --}}
            <h1 class="title">These are the Recipes for Success!</h1>
          </div>
        </div>
      </section>
      <div class="columns">
        <div class="column is-12">
          <div class="card events-card">
            <header class="card-header">
              <p class="card-header-title">Meals with your preferences</p>
              {{!-- <a href="#" class="card-header-icon" aria-label="more options">
                <span class="icon">
                  <i class="fa fa-angle-down" aria-hidden="true"></i>
                </span> --}}
              </a>
            </header>
            <div class="container">
              <div class="section">
                <div id="app" class="row columns allView">
                  {{#each meals as |meal|}}
                  <div v-for="card in cardData" key="card.id" class="column is-4">
                    <div class="card large">
                      <div class="card-image">
                        {{!-- <figure class="image is-16by9">
                          <img :src="card.image" alt="Image">
                        </figure> --}}
                      </div>
                      <div class="card-content">
                        <div class="media">
                          {{!-- <div class="media-left">
                            <figure class="image is-48x48">
                              <img :src="card.avatar" alt="Image">
                            </figure>
                          </div> --}}
                          <div class="media-content">
                            <p class="title is-4 no-padding"><a href="/meal/{{meal.id}}"> {{meal.title}} </a></p>
                            {{!-- <p>
                              <span class="title is-6">
                                <a href="/project/{{meal.id}}"> {{meal.title}} </a> </span>
                            </p> --}}
                            {{!-- <p class="subtitle is-6">{{card.user.title}}</p> --}}
                          </div>
                        </div>
                        <div class="content">
                          {{meal.description}}
                          <div class="background-icon"><span class="icon-twitter"></span></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                {{/each}}
              </div>
              <footer class="card-footer">
                <a href="#" class="card-footer-item">View All</a>
              </footer>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="../../js/filterMeals.js"></script>
<script src="../../js/cardsData.js"></script>
